body{
background: #e7e7e7;
font-family: 'Open Sans', sans-serif;	
}
.principal{
background: #f3f3f3;
margin-top: -55px;	
padding-bottom: 50px;
margin-bottom: 35px;
box-shadow: 15px 15px 20px -10px #888;
}
.navegador{
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #5bb75b;
background-image: -moz-linear-gradient(top, #62c462, #51a351);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
background-image: -webkit-linear-gradient(top, #62c462, #51a351);
background-image: -o-linear-gradient(top, #62c462, #51a351);
background-image: linear-gradient(to bottom, #62c462, #51a351);
background-repeat: repeat-x;
border-color: #51a351 #51a351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
color:white;

}
.margin-left{
margin-left: 20px;	
}
.margin-top{
margin-top: 25px;	
}

.parrafo{
margin-left: 20px;
margin-top: 10px;
margin-right: 15px;	
}
span{
font-weight: normal;	
}

.lista-examen{
list-style: none;	
margin-top: 25px;
}

.lista-examen li{
margin-top: 15px;	
}

.textbox-curso{
width: 300px;
height: 100px;	
}
.boton-examen-margin{
margin-top: 18px;	
}
.widht-pregunta{
width: 270px;
}
